<%= form_with model: @user, url:user_registration_path, class: 'registration-main', local: true do |f| %>
  <div class="registrations">
    <div class="sign-up">
      <h1 calss="header-text">新規アカウントの登録</h1>
    </div>
  </div>
<% end %>