<div class="header">
  <div class="title">
    <a href="#">Project-K</a>
  </div>
  <div class="menu">
    <a href="#">メモ</a>
    <a href="#">家計簿</a>
    <a href="#">購入履歴</a>
  </div>
  <ul class="header-light">
    <% if current_user.present? %>
      <li><%= link_to current_user.name, "#", class: "name" %></li>
    <% else %>
      <li><%= link_to "ゲストユーザー", "#", class: "name" %></li>
    <% end %>
    <li><%= link_to 'ログアウト',"#", data: { turbo_method: :delete }, class: 'logout' %></li>
  </ul>
<div>