<%= render "shared/header" %>
<div class="K-project">
  <div class="main-area">
    <div class="side-bar"></div>
    <div class="main">
      <div class="main-memo"></div>
      <div class="main-calendar"></div>
    </div>
  <div>
</div>