<%= render "shared/header" %>

<div class="memo-main">
  <div class = "memo-area">
    <h1>メモを追加</h1>
    <div class="category-area">
      <div class="category-text">
        カテゴリー
        <span class="indispensable">必須</span>
      </div>
      <%= form_with model: @memo, local: true do |f| %>
        <div class="category">
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, { class: "select-box", id: "item-category" }) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
