<%= render "shared/header" %>

<div class="memo-main">
  <div class = "memo-area">
    <h1>メモを追加</h1>
    <div class="category-area">
      <div class="category-text">
        カテゴリー
        <span class="indispensable">必須</span>
      </div>
      <div class="category"></div>
    </div>
  </div>
</div>
